<div class="showcase-container">
    <!-- <div *ngIf="isLoading" class="skeleton-loader-wrapper">
        <div fxLayout="row" fxLayoutGap="16px" fxFlexFill>
            <div fxFlex="100">
                <ngx-skeleton-loader [theme]="{ height: '430px', borderRadius: '10px' }"></ngx-skeleton-loader>
            </div>
        </div>
    </div> -->
    <div class="items" *ngFor="let recipe of recipes">
        <div class="showcase-area">
            <img fxFlex="60" src="{{recipe.image}}">
            <div class="info" fxFlex="40" fxLayout="column" fxLayoutAlign="space-between end">
                {{recipe.title}}
                <p> Try your hand at {{recipe.title}} a very delicious and delightfull meal.</p>
                <button mat-icon-button class="example-icon" (click)="navToRecipeIntructions(recipe.id)">
                    <mat-icon>arrow_forward</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>