/* showcase */
#first img {
    padding: 0px;
    margin: 0px;
    border-radius: 20px 0px 0px 20px;
    border: 1px solid rgb(235, 235, 235);
}


#first .showcase-area {
    background-color: rgb(245, 245, 245);
    border-radius: 20px 20px 20px 20px;
}

#first .showcase-area .info {
    text-align: left;
    font-family: "Playfair", serif;
    font-size: 45px;
    padding: 20px;
    line-height: 1;
}

#first .showcase-area p {
    text-align: left;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    line-height: 1.3;
}


#first .skeleton-loader-wrapper {
    display: flex;
    flex-direction: column;
    gap: 25px;
}


#first button {
    background-color: white;
    transition: 0.2s;
}

#first button:hover {
    background-color: #ef4439;
    transition: 0.2s;
}

#first button:hover, svg :hover {
    color: white;
    transition: 0.2s;
}


/* second */
#second img {
    padding: 0px;
    margin: 0px;
    border-radius: 20px 0px 0px 20px;
}

#second .showcase-area {
    background-color: rgb(245, 245, 245);
    border-radius: 20px 20px 20px 20px;
    width: 100%;
    height: auto;
}

#second .showcase-area .info {
    text-align: left;
    font-family: "Playfair", serif;
    font-size: 4.5vw;
    padding: 20px;
    line-height: 1;
}

#second .showcase-area p {
    text-align: left;
    font-family: "Inter", sans-serif;
    font-size: 2vw;
    line-height: 1.3;
}




/* Third */
#third img {
    padding: 0px;
    margin: 0px;
    width: 95%;
    height: auto;
    border-radius: 20px 20px 0px 0px;
}

#third .info-two {
    width: 95%;
    background-color: rgb(245, 245, 245);
    border-radius: 0px 0px 20px 20px;
}


#third .info-two {
    text-align: left;
    font-family: "Playfair", serif;
    font-size: 6vw;
    line-height: 1;
}

#third .info-two .title {
    margin: 10px;
    padding: 10px;
}

#third .info-two p {
    margin: 10px;
    padding: 10px;
    text-align: left;
    font-family: "Inter", sans-serif;
    font-size: 3vw;
    line-height: 1.3;
}

#third .info-two .button {
    padding: 10px;
}