/* card */
.suggestions-wrapper {
    vertical-align: top;
}

img {

    width: 100%;
    max-width: 350px;

    border-radius: 10px;
    transform: scale(1);
    transition: 0.4s;
    cursor: pointer;
    border: 1px solid rgb(235, 235, 235);

}

h2 {
    margin-top: 10px;
    line-height: 1;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    cursor: pointer;
}

img:hover {
    transform: scale(1.08);
    /* opacity: 0.1; */
}

.card-body {
    max-width: 350px;
    margin-bottom: 10px;
}

.card .card-title {
    transition: all ease 0.6s;
}

.card:hover .card-title {
    color: #ef4439;
    transition: all ease 0.6s;
}

@media only screen and (max-width: 1130px) {
    .suggestions-wrapper {
        font-size: 14px;
    }
}