/* card */
.suggestions-wrapper {
    vertical-align: top;
}

img {
    object-fit: cover;
    height: auto;
    border-radius: 10px;
    width: 350px;
    transform: scale(1);
    transition: 0.4s;
    cursor: pointer;
}

 h2 {
    margin-top: 10px;
    line-height: 1;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    cursor: pointer;
}

img:hover{
    transform: scale(1.08);
    /* opacity: 0.1; */
}

.card-body {
    max-width: 350px;
}

.card .card-title{
    transition: all ease 0.6s;
}

.card:hover .card-title{
    color: #ff642f;
    transition: all ease 0.6s;
}

/* layers */
.inner {
    position: absolute;
  }

    

    /* 

    <div class="one">
        <p>prep time: 10 min</p>
        <p>matching ingredients: 10</p>
    </div>
    <div class="two">
        <img src="{{recipe.image}}" />
        <div class="card-body" fxLayout="row wrap">
            <h2 class="card-title">{{recipe.title}}</h2>
        </div>
    </div> 

    */


    /* 
    .one:hover + .two {
        display: block;
        color: red;
      } 
    */

    /* 
    <div class="myDIV">Hover over me.</div>
    <div class="hide">I am shown when someone hovers over the div above.</div> 
    */