@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

img {
	width: 300px;
	margin: 20px;
}

h1 {
	font-size: 30px;
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	margin-bottom: 5px;
}

.content {
	height: 500px;
	width: 804px;
	border-radius: 10px 0px 10px 10px;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/*Form and inputs*/
form {
	width: 80%;
}

::ng-deep.mat-form-field-wrapper {
	padding-top: 10px;
	padding-bottom: 0px;
}

::ng-deep.mat-form-field-outline-start,
::ng-deep.mat-form-field-outline-gap,
::ng-deep.mat-form-field-outline-end {
	background-color: rgb(245, 245, 245) !important;
}


/*buttons*/
button {
	padding: 2px 25px 2px 25px;
	margin: 10px;
	font-size: 17px;
}

.buttons {
	margin-top: 20px;
}

/* sign up */
.sign-up {
	border-radius: 0px 10px 10px 0px;
	background-image: url('../../assets/photos/sign_in_background.png');
	background-size: 100%;
	background-repeat: no-repeat;
	width: 100%;
	
}

.sign-up-container {
	height: 235px;
	
}

.sign-up h1 {
	color: white;
}

p {
	color: white;
	text-align: center;
	font-size: 17px;
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	width: 80%;
	padding-bottom: 20px;
}

.small-content {
	max-height: 500px;
	min-height: 300px;
	max-width: 480px;
	width: 90%;
	border-radius: 10px 0px 10px 10px;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.small-content form {
	width: 100%;
}

.small-content .info {
	width: 90%;
}

.small-content .login {
	width: 90%;
}

h3 {
	margin: 20px;
}

a {
	cursor: pointer;
}