<body fxLayoutAlign="center center">
    <div class="box">
        <div class="container" id="container">
            <div class="form-container sign-up-container">

            </div>
            <div class="form-container sign-in-container">
                <form [formGroup]="loginForm">
                    <h1>Sign in</h1>
                    <input type="email" placeholder="Email" formControlName="username">
                    <input type="password" placeholder="Password" formControlName="password">
                    <button [routerLink]="['/dashboard']"> Sign In</button> <!--(click)="tryLogin()" -->
                </form>
            </div>
            <div class="overlay-container">
                <div class="overlay">
                    <div class="overlay-panel overlay-right">
                        <h1>Let's Get Cooking!</h1>
                        <p> Sign up to begin exploring the endless possibilities</p>
                        <button target="_self" class="ghost" id="signUp">Sign Up</button>
                        <!-- (click)="openDialog()" -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>