<div class="hero">
    <div class="content">
        <form class="form">
            <div class="">
                <label>Email</label>
                <input class="input" type="text" placeholder="johndoe@gmail.com"/>
            </div>
            <div>
                <label>Password</label>
                <input class="input" type="text" placeholder="**********"/>
            </div>
            <button class="btn-primary">Login</button>
        </form>
        <div class="">
            <h1>Cooking Time!</h1>
            <div>Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda 
            excepturi exercitationem quasi. In deleniti eaque aut repudiandae 
            et a id nisi.
            </div>
        </div>
    </div>
</div>
