<h1 mat-dialog-title>One Quick Thing. . .</h1>

<hr>

<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua.
</p>

<form class="ingredient-search">

    <h1>Diets</h1>
    <div class="diets-button-container" fxLayout="row wrap" fxLayoutAlign="center center">
        <mat-checkbox mat-flat-mat-checkbox *ngFor="let diet of diets" fxFlex="30">
            {{diet}}
        </mat-checkbox>
    </div>

    <hr>


    <h1>Allergies</h1>
    <div class="intolerances-button-container" fxLayout="row wrap" fxLayoutAlign="center center">
        <mat-checkbox mat-flat-mat-checkbox *ngFor="let intolerance of intolerances" fxFlex="30">
            {{intolerance}}
        </mat-checkbox>
    </div>

</form>

<div class="buttons" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="30">
    <button mat-stroked-button color="warn" [mat-dialog-close]="true"> Add Later</button>
    <button mat-flat-button color="primary" [routerLink]="['/my-pantry']" [mat-dialog-close]="true"> Save & Continue</button>
</div>