<h1 mat-dialog-title>Filters</h1>
<form [formGroup]="filtersForm">
    <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Cuisines">
            <div class="cuisines-button-container" fxLayout="row wrap" fxLayoutAlign="space-around center">
                <mat-checkbox mat-flat-mat-checkbox *ngFor="let country of cuisines; let i = index"
                    (click)="addRemoveFilter(country)" [formControlName]="'cuisines' + i" color="warn">
                    {{country}}
                </mat-checkbox>
            </div>
        </mat-tab>

        <mat-tab label="Diets">
            <div class="diets-button-container" fxLayout="row wrap" fxLayoutAlign="space-around center">
                <mat-checkbox mat-flat-mat-checkbox *ngFor="let diet of diets; let i = index"
                    (click)="addRemoveFilter(diet)" [formControlName]="'diets' + i" color="warn">
                    {{diet}}
                </mat-checkbox>
            </div>
        </mat-tab>

        <mat-tab label="Intolerances">
            <div class="intolerances-button-container" fxLayout="row wrap" fxLayoutAlign="space-around center">
                <mat-checkbox mat-flat-mat-checkbox *ngFor="let intolerance of intolerances; let i = index"
                    (click)="addRemoveFilter(intolerance)" [formControlName]="'intolerances' + i" color="warn">
                    {{intolerance}}
                </mat-checkbox>
            </div>
        </mat-tab>

        <mat-tab label="Type">
            <div class="types-button-container" fxLayout="row wrap" fxLayoutAlign="center center">
                <mat-checkbox mat-flat-mat-checkbox *ngFor="let type of mealTypes; let i = index"
                    (click)="addRemoveFilter(type)" [formControlName]="'mealTypes' + i" color="warn">
                    {{type}}
                </mat-checkbox>
            </div>
        </mat-tab>
    </mat-tab-group>
</form>