<h1 mat-dialog-title>{{data.category}}</h1>
<mat-chip-list #chipList aria-label="ingredients" fxLayout="row wrap">
    <mat-chip *ngFor="let item of data.stuff; let i = index" [style.background-color]="data.color">
        {{capitalizeFirstLetter(this.data.stuff[i])}}
        <button matChipRemove (click)="removeIngredient(i)">
            <mat-icon>cancel</mat-icon>
        </button>
    </mat-chip>
</mat-chip-list>

<form class="ingredient-search" [formGroup]="ingredientSearchForm" fxLayoutAlign="center">
    <mat-form-field class="inputBox" appearance="outline">
        <mat-label> Search for an ingredient. . .</mat-label>
        <input matInput placeholder="Search for an ingredient..." formControlName="ingredient" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
            <!-- <mat-spinner></mat-spinner> -->
            <mat-option *ngFor="let option of ingredients" (click)="addIngredient(option)">
                {{capitalizeFirstLetter(option.name)}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</form>

<div mat-dialog-actions>
    <button mat-flat-button mat-dialog-close [style.background-color]="data.color">Save Changes</button>
</div>
