.example-spacer {
    flex: 1 1 auto;
  }
 
 
 .mat-toolbar {
    background-color: white;
    height: 90px;
    padding: 0px;
 }
 
 
 img {
    width: 130px;
    height: auto;
 }
 
 
 button {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    border-radius: 25px;
    margin-right: 5px;
    margin-left: 5px;
 }
 
 
 .active-button {
    background-color: #ff642f;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    border-radius: 25px;
    margin-right: 5px;
    margin-left: 5px;
 }
 
 
 
 
 button {
    transition: all ease 0.2s;
 }
 
 
 button:hover {
    transform: scale(1.1);
    transition: all ease 0.2s;
 }
 
 
 .mat-accordion {
    margin: 10px;
 }
 
 
 .mat-expansion-panel {
    box-shadow: none;
 }
 
 
 .mat-expansion-panel-header {
    padding: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
 }
 