<app-navbar class="navbar"></app-navbar><!-- remove later -->

<body>
    <div class="recipe-title" fxLayout.gt-md="row" fxLayoutAlign.gt-md="space-between center">
        <div class="title" fxFlex="90">
            {{this.recipe.title}}
        </div>
        <div class="buttons" fxFlex="10" fxLayoutAlign="end center">
            <button mat-icon-button (click)="printPage()">
                <svg data-name="feather-icon/printer" xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                    viewBox="0 0 20 22.041">
                    <path
                        d="M4.166,20.2a.88.88,0,0,1-.833-.918V16.531H2.5A2.636,2.636,0,0,1,0,13.776V9.184A2.636,2.636,0,0,1,2.5,6.429h.833V.918A.879.879,0,0,1,4.167,0h10A.878.878,0,0,1,15,.918v5.51h.833a2.636,2.636,0,0,1,2.5,2.755v4.592a2.636,2.636,0,0,1-2.5,2.755H15v2.755a.88.88,0,0,1-.834.918ZM5,18.367h8.333v-5.51H5v2.718c0,.012,0,.025,0,.038s0,.025,0,.037Zm10.834-3.673a.879.879,0,0,0,.833-.918V9.184a.878.878,0,0,0-.833-.918H2.5a.879.879,0,0,0-.833.918v4.592a.879.879,0,0,0,.833.918h.833V11.938a.88.88,0,0,1,.833-.918h10a.88.88,0,0,1,.834.918v2.756Zm-2.5-8.265V1.837H5V6.429Z"
                        transform="translate(0.833 0.918)">
                    </path>
                </svg>
            </button>
            <button mat-icon-button>
                <svg data-name="feather-icon/share copy" xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                    viewBox="0 0 32 32">
                    <path
                        d="M20,26.669a1.318,1.318,0,0,1-.77-.251l-8.558-6.113L2.108,26.418a1.319,1.319,0,0,1-.77.251A1.362,1.362,0,0,1,.41,26.3,1.314,1.314,0,0,1,0,25.333V4A4,4,0,0,1,4,0H17.333a4,4,0,0,1,4,4V25.333A1.34,1.34,0,0,1,20,26.669Zm-9.329-9.336a1.329,1.329,0,0,1,.776.248l7.225,5.161V4a1.335,1.335,0,0,0-1.334-1.333H4A1.335,1.335,0,0,0,2.666,4V22.742l7.225-5.161A1.324,1.324,0,0,1,10.666,17.333Z"
                        transform="translate(5.333 2.667)">
                    </path>
                </svg>
            </button>
        </div>
    </div>

    <div class="wrapper" fxLayout.gt-md="row" fxLayoutAlign.gt-md="space-between center">
        <div class="image-wrapper">
            <img src="{{this.recipe.image}}" width="680" />
        </div>
        <div class="nutrition-wrapper">
            <div class="nutrition-label">
                <h2>Nutrition Label</h2>
                <ul class="nutrients" fxLayout="column" fxLayoutAlign="center">
                    <li *ngFor="let item of nutritionList; let i = index">
                        <span class="name">{{item.name}}</span>
                        <span class="data">{{item.amount}} {{item.unit}}</span>
                        <hr>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="quick-facts" fxLayout="row" fxLayoutAlign="start center">
        <div class="item">
            <h5>PREP TIME</h5>
            <h4>{{recipe.readyInMinutes}} MIN</h4>
        </div>

        <hr>

        <div class="item">
            <h5>TOTAL INGREDIENTS</h5>
            <h4>{{ingredientCount}} INGREDIENTS</h4>
        </div>

        <hr>

        <div class="item">
            <h5>SERVINGS</h5>
            <h4>{{recipe.servings}} PEOPLE</h4>
        </div>
    </div>

    <!-- <button (click)="myFlag = !myFlag">Toggle</button>
    <div *ngIf="myFlag" style="color:green">Hey I'm true</div>
    <div *ngIf="!myFlag" style="color:red">Hey I'm false</div> -->

    <div class="recipe-instruction-container" id="print" fxLayout.gt-md="row">

        <div class="ingredients-container" fxFlex="50">
            <h2>Ingredients</h2>
            <ul class="ingredients">
                <li *ngFor="let ingredient of ingredientList; let i = index" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="20" >
                    <button class="bullet-point">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25">
                            <path
                                d="M11,22A11,11,0,0,1,3.222,3.222,11,11,0,1,1,18.778,18.778,10.928,10.928,0,0,1,11,22ZM11,2a9,9,0,1,0,9,9A9.01,9.01,0,0,0,11,2Z"
                                transform="translate(0 0)"></path>
                        </svg>
                    </button>
                    <!-- <mat-checkbox></mat-checkbox> -->
                    <button>
                        <div class="ingredient">
                            {{ingredient}}
                        </div>
                    </button>
                </li>
            </ul>
        </div>

        <div class="instructions-container" fxFlex="50">
            <h2>Instructions</h2>
            <ul class="instructions">
                <li *ngFor="let step of instructionsList; let i = index">
                    <div class="bullet-point" fxFlex="10">
                        <p class="step-decor" fxLayoutAlign="center center"> {{i + 1}} </p>
                    </div>
                    <p class="instruction" fxFlex="90">
                        {{step}}
                    </p>
                </li>
            </ul>
        </div>
    </div>
</body>

<div class="test">
    <li *ngFor="let ingredient of ingredientList; let i = index">
        <input type="checkbox">
        <h1>{{ingredient}}</h1>
    </li>
</div>