<app-navbar class="navbar"></app-navbar>

<body>
    <div class="recipe-title" fxLayout.gt-md="row" fxLayoutAlign.gt-md="space-between center">
        <div class="title" fxFlex="90">
            {{this.recipe.title}}
        </div>
        <div class="buttons" fxFlex="10" fxLayoutAlign="end center">
            <button mat-icon-button (click)="printPage()">
                <svg data-name="feather-icon/printer" xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                    viewBox="0 0 20 22.041">
                    <path
                        d="M4.166,20.2a.88.88,0,0,1-.833-.918V16.531H2.5A2.636,2.636,0,0,1,0,13.776V9.184A2.636,2.636,0,0,1,2.5,6.429h.833V.918A.879.879,0,0,1,4.167,0h10A.878.878,0,0,1,15,.918v5.51h.833a2.636,2.636,0,0,1,2.5,2.755v4.592a2.636,2.636,0,0,1-2.5,2.755H15v2.755a.88.88,0,0,1-.834.918ZM5,18.367h8.333v-5.51H5v2.718c0,.012,0,.025,0,.038s0,.025,0,.037Zm10.834-3.673a.879.879,0,0,0,.833-.918V9.184a.878.878,0,0,0-.833-.918H2.5a.879.879,0,0,0-.833.918v4.592a.879.879,0,0,0,.833.918h.833V11.938a.88.88,0,0,1,.833-.918h10a.88.88,0,0,1,.834.918v2.756Zm-2.5-8.265V1.837H5V6.429Z"
                        transform="translate(0.833 0.918)">
                    </path>
                </svg>
            </button>

            <button mat-icon-button *ngIf="!saved" (click)="addRemoveRecipe()">
                <mat-icon>bookmark_border</mat-icon>
            </button>

            <button class="saved" mat-icon-button *ngIf="saved" (click)="addRemoveRecipe()">
                <mat-icon>bookmark</mat-icon>
            </button>
        </div>
    </div>

    <div class="wrapper" fxLayout.gt-md="row" fxLayoutAlign.gt-md="space-between center">
        <div class="image-wrapper">
            <img src="{{this.recipe.image}}" width="680" />
        </div>
        <div class="nutrition-wrapper">
            <div class="nutrition-label">
                <h2>Nutrition Label</h2>
                <ul class="nutrients" fxLayout="column" fxLayoutAlign="center">
                    <li *ngFor="let item of nutritionList; let i = index">
                        <span class="name">{{item.name}}</span>
                        <span class="data">{{item.amount}} {{item.unit}}</span>
                        <hr>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="quick-facts" fxLayout="row" fxLayoutAlign="start center">
        <div class="item" fxLayout="column" fxLayoutAlign="space-around center">
            <h5>PREP TIME</h5>
            <h4>{{recipe.readyInMinutes}} MIN</h4>
        </div>

        <hr>

        <div class="item" fxLayout="column" fxLayoutAlign="space-around center">
            <h5>SERVINGS</h5>
            <h4>{{recipe.servings}} PEOPLE</h4>
        </div>

        <hr>

        <div class="item" fxLayout="column" fxLayoutAlign="space-around center">
            <h5>TOTAL INGREDIENTS</h5>
            <h4>{{ingredientCount}} INGREDIENTS</h4>
        </div>

        <hr>

        <div class="item" fxLayout="column" fxLayoutAlign="space-around center">
            <h5>MEASUREMENTS</h5>
            <mat-slide-toggle class="changeUnits" color="warn" (click)="changeUnits(units)">
                {{units}}
            </mat-slide-toggle>
        </div>
        <hr>

        <!-- <div class="item" fxLayout="column" fxLayoutAlign="space-around center">
            <h5>IN MY PANTRY</h5>
            <h4>{{count}} INGREDIENTS</h4>
        </div>

        <hr>

        <div class="item" fxLayout="column" fxLayoutAlign="space-around center">
            <h5>NOT IN MY PANTRY</h5>
            <h4>{{ingredientCount - count}} INGREDIENTS</h4>
        </div> -->
    </div>

    <div class="recipe-instruction-container" id="print" fxLayout.gt-md="row">

        <div *ngIf="units == 'Imperial'" class="ingredients-container" fxFlex="50">
            <h2>Ingredients</h2>
            <ul class="ingredients">
                <li *ngFor="let ingredient of originalIngredientList; let i = index" fxLayout="row"
                    fxLayoutAlign="start start" fxLayoutGap="20">
                    <mat-checkbox color="warn" class="custom-frame" (click)="checkUncheckFilter(ingredient)"> </mat-checkbox>
                    <button>
                        <div class="ingredient">
                            {{ingredient}}
                        </div>
                    </button>

                </li>
            </ul>
        </div>

        <div *ngIf="units == 'Metric'" class="ingredients-container" fxFlex="50">
            <h2>Ingredients</h2>
            <ul class="ingredients">
                <li *ngFor="let ingredient of metricOriginalIngredientList; let i = index" fxLayout="row"
                    fxLayoutAlign="start start" fxLayoutGap="20">

                    <mat-checkbox color="warn" class="custom-frame" (click)="checkUncheckFilter(ingredient)"> </mat-checkbox>
                    <button>
                        <div class="ingredient">
                            {{ingredient}}
                        </div>
                    </button>

                </li>
            </ul>
        </div>

        <div class="instructions-container" fxFlex="50">
            <h2>Instructions</h2>
            <ul class="instructions">
                <li *ngFor="let step of instructionsList; let i = index">
                    <div class="bullet-point" fxFlex="10">
                        <p class="step-decor" fxLayoutAlign="center center"> {{i + 1}} </p>
                    </div>
                    <p class="instruction" fxFlex="90">
                        {{step}}
                    </p>
                </li>
            </ul>
        </div>
    </div>

    <!-- <h1 class="similar">Similar Recipes</h1>
    <app-suggestions type="similar" [recipeId]="this.recipeId"></app-suggestions> -->

</body>

<div class="test">
    <li *ngFor="let ingredient of ingredientList; let i = index">
        <input type="checkbox">
        <h1>{{ingredient}}</h1>
    </li>
</div>

<app-footer></app-footer>