/*  */
::ng-deep.mat-dialog-container {
    width: 700px;
    min-height: 200px;
    padding: 30px;
    border-radius: 20px;
}

.mat-dialog-title {
    font-size: 40px;
    font-family: "Playfair", serif;
}


/* Input box */
.inputBox {
    width: 100%;
    padding: 15px;
    border: 1px solid rgba(255,255,255, 0.25);
    border-style: solid;
    border-color: rgb(92, 92, 92);
    border-radius: 10px;
    font-size: 18px;
    margin-top: 20px;
    font-family: "Inter", sans-serif;
}

.mat-option {
    font-family: "Inter", sans-serif;
}

.mat-dialog-actions {
    justify-content: center;
}

.mat-dialog-actions button {
    border-radius: 20px;
}