<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="footer" fxLayout="column" fxLayoutAlign="space-around center">

    <div class="socials">
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-google"></a>
        <a href="#" class="fa fa-linkedin"></a>
    </div>

    <ul class="options">
        <li>CONTACT</li>
        <li>ABOUT</li>
        <li>TEAM</li>
      </ul>

    <!-- <div class="schools" fxLayout="row" fxLayoutAlign="center center">
        <h3>Glendale Community Highschool</h3>
        <h3>California State University Northridge</h3>
    </div> -->

    <div class="rights">
        <h3>Pantry Pal Copyright © 2023 Pantry Pal - All rights not reserved</h3>
    </div>
</div>