<app-navbar></app-navbar>
<div class="main-container">
    <div class="page-title">
        <h1>
            My Pantry
        </h1>
        <hr>
    </div>

    <div class="search-bar">
        <form class="ingredient-search" [formGroup]="ingredientSearchForm">
            <mat-form-field class="inputBox" appearance="outline">
                <mat-label> Find an ingredient . .</mat-label>
                <input matInput placeholder="Search for an ingredient..." formControlName="ingredient"
                    [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">

                    <mat-option *ngFor="let option of ingredients" (click)="addIngredient(option)">
                        {{capitalizeFirstLetter(option.name)}}
                    </mat-option>

                    <mat-option *ngIf="hasRanSearch && ingredients.length <= 0">
                        No Results
                    </mat-option>

                </mat-autocomplete>
            </mat-form-field>
        </form>
    </div>

    <div fxHide.lt-lg ="pantry-container" *ngIf="blank" fxLayout="row" fxLayoutAlign="space-around start" fxLayoutGap="1">
        <div class="user-pantry" fxLayout="column" fxLayoutAlign="space-around center"
            *ngIf="cookingData && cookingData.user_ingredients">
            <div class="index-one" *ngFor="let item of this.indexOne">
                <app-pantry-list *ngIf="item" category={{item[0]}} [ingredients]="item[1]"></app-pantry-list>
            </div>
        </div>

        <div class="user-pantry" fxLayout="column" fxLayoutAlign="space-around center"
            *ngIf="cookingData && cookingData.user_ingredients">
            <div class="index-one" *ngFor="let item of this.indexTwo">
                <app-pantry-list *ngIf="item" category={{item[0]}} [ingredients]="item[1]"></app-pantry-list>
            </div>
        </div>

        <div class="user-pantry" fxLayout="column" fxLayoutAlign="space-around center"
            *ngIf="cookingData && cookingData.user_ingredients">
            <div class="index-one" *ngFor="let item of this.indexThree">
                <app-pantry-list *ngIf="item" category={{item[0]}} [ingredients]="item[1]"></app-pantry-list>
            </div>
        </div>
    </div>

    <!-- double column -->
    <div fxHide.lt-md fxHide.gt-md class="pantry-container" *ngIf="blank"  fxLayout="row" fxLayoutAlign="space-around start"  fxLayoutGap="20">
        <div class="user-pantry" fxLayout="column" fxLayoutAlign="space-around center"
            *ngIf="cookingData && cookingData.user_ingredients">
            <div class="index-one" *ngFor="let item of mediumIndexOne">
                <app-pantry-list *ngIf="item" category={{item[0]}} [ingredients]="item[1]"></app-pantry-list>
            </div>
        </div>

        <div class="user-pantry" fxLayout="column" fxLayoutAlign="space-around center"
            *ngIf="cookingData && cookingData.user_ingredients">
            <div class="index-one" *ngFor="let item of mediumIndexTwo">
                <app-pantry-list *ngIf="item" category={{item[0]}} [ingredients]="item[1]"></app-pantry-list>
            </div>
        </div>
    </div>

    <!-- single column -->
    <div fxHide.gt-sm class="pantry-container" *ngIf="blank" fxLayout="row" fxLayoutAlign="space-around start" fxLayoutGap="1">
        <div class="user-pantry" fxLayout="column" fxLayoutAlign="space-around center"
            *ngIf="cookingData && cookingData.user_ingredients">
            <div class="index-one" *ngFor="let item of singleColumn">
                <app-pantry-list *ngIf="item" category={{item[0]}} [ingredients]="item[1]"></app-pantry-list>
            </div>
        </div>
    </div>

    <div *ngIf="!blank" class="getting-started">
        <p>Welcome to your very own pantry! </p>
        <p>
            Here, you can simply add the ingredients you have at home, and we'll provide
            you with a plethora of delicious recipes to make with them. The more ingredients you have, the better the
            results will be. Let's get started!"
        </p>
        <p>
            To begin, simply enter your ingredients using the search bar above and let us take care of the rest. Our
            system will automatically sort and organize them for you, making the process effortless and hassle-free.
            Let's get cooking
        </p>
    </div>



    <div *ngIf="blank" class="tip" fxLayout="column" fxLayoutAlign="center center">
        <hr>
        <h2>Ready to start cooking?</h2>
        <p>click here to see what you can make right now</p>
        <button class="tip-button" mat-flat-button color="warn" [routerLink]="['/start-cooking']">Start Cooking</button>
        <hr>
    </div>

</div>
<app-footer></app-footer>