<app-navbar></app-navbar>
<div class="main-container">
    <div class="page-title">
        <h1>Start Cooking</h1>

        <hr>

        <div class="search-bar" fxLayout="row" fxLayoutAlign="space-between center">
            <form class="ingredient-search" [formGroup]="ingredientSearchForm" fxFlex="75">

                <mat-form-field class="inputBox" appearance="outline">
                    <mat-label> Filter by ingredient. . .</mat-label>
                    <input matInput placeholder="Search for an ingredient..." formControlName="ingredient"
                        [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                        <!-- <mat-spinner></mat-spinner> -->
                        <mat-option *ngFor="let option of ingredients">
                            {{capitalizeFirstLetter(option.name)}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </form>

            <div class="filter-button" fxFlex="10">
                <button mat-stroked-button [matMenuTriggerFor]="belowMenu">Sort</button>
                <mat-menu #belowMenu="matMenu" yPosition="below">
                    <button mat-menu-item (click)="sortAlphabetically()">A-Z</button>
                    <button mat-menu-item (click)="sortRecipesByType()">Recipe Type</button>
                    <button mat-menu-item (click)="maximizeMissing()">Maximize Used Ingredients</button>
                    <button mat-menu-item (click)="minimizeMissing()">Minimize Missing Ingredients</button>
                </mat-menu>
            </div>

            <div class="filter-button" fxFlex="10">
                <button mat-stroked-button (click)="openDialog()">Filters</button>
            </div>
        </div>

        <div *ngIf="!sortByType">
            <div class="search-content">
                <div class="suggestions-wrapper" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between end">
                    <div class="card" *ngFor=" let recipe of recipes" (click)="navToRecipeIntructions(recipe.id)">
                        <img src="{{recipe.image}}" />
                        <div class="title" fxLayout="wrap">
                            {{recipe.title}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="sorted-by-type" *ngIf="sortByType">

            <div *ngIf="!sortByType">
                <div class="search-content">
                    <div class="suggestions-wrapper" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between end">
                        <div class="card" *ngFor=" let recipe of recipesWithMoreInfo" (click)="navToRecipeIntructions(recipe.id)">
                            <img src="{{recipe.image}}" />
                            <div class="title" fxLayout="wrap">
                                {{recipe.title}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div *ngIf="appetizerCategory">
                <h1>Appetizers</h1>
                <div class="search-content">
                    <div class="suggestions-wrapper" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between end">
                        <div class="card" *ngFor=" let recipe of appetizerCategory" (click)="navToRecipeIntructions(recipe.id)">
                            <img src="{{recipe.image}}" />
                            <div class="title" fxLayout="wrap">
                                {{recipe.title}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="beverageCategory">
                <h1>Beverages</h1>
                <div class="search-content">
                    <div class="suggestions-wrapper" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between end">
                        <div class="card" *ngFor=" let recipe of beverageCategory" (click)="navToRecipeIntructions(recipe.id)">
                            <img src="{{recipe.image}}" />
                            <div class="title" fxLayout="wrap">
                                {{recipe.title}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="breakfastCategory">
                <h1>Breakfast</h1>
                <div class="search-content">
                    <div class="suggestions-wrapper" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between end">
                        <div class="card" *ngFor=" let recipe of breakfastCategory" (click)="navToRecipeIntructions(recipe.id)">
                            <img src="{{recipe.image}}" />
                            <div class="title" fxLayout="wrap">
                                {{recipe.title}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="dessertCategory">
                <h1>Dessert</h1>
                <div class="search-content">
                    <div class="suggestions-wrapper" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between end">
                        <div class="card" *ngFor=" let recipe of dessertCategory" (click)="navToRecipeIntructions(recipe.id)">
                            <img src="{{recipe.image}}" />
                            <div class="title" fxLayout="wrap">
                                {{recipe.title}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="dinnerCategory">
                <h1>Dinner</h1>
                <div class="search-content">
                    <div class="suggestions-wrapper" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between end">
                        <div class="card" *ngFor=" let recipe of dinnerCategory" (click)="navToRecipeIntructions(recipe.id)">
                            <img src="{{recipe.image}}" />
                            <div class="title" fxLayout="wrap">
                                {{recipe.title}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="lunchCategory">
                <h1>Lunch</h1>
                <div class="search-content">
                    <div class="suggestions-wrapper" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between end">
                        <div class="card" *ngFor=" let recipe of lunchCategory" (click)="navToRecipeIntructions(recipe.id)">
                            <img src="{{recipe.image}}" />
                            <div class="title" fxLayout="wrap">
                                {{recipe.title}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="mainCourseCategory">
                <h1>Main Courses</h1>
                <div class="search-content">
                    <div class="suggestions-wrapper" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between end">
                        <div class="card" *ngFor=" let recipe of mainCourseCategory" (click)="navToRecipeIntructions(recipe.id)">
                            <img src="{{recipe.image}}" />
                            <div class="title" fxLayout="wrap">
                                {{recipe.title}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="sauceCategory">
                <h1>Sauces & Marinades</h1>
                <div class="search-content">
                    <div class="suggestions-wrapper" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between end">
                        <div class="card" *ngFor=" let recipe of sauceCategory" (click)="navToRecipeIntructions(recipe.id)">
                            <img src="{{recipe.image}}" />
                            <div class="title" fxLayout="wrap">
                                {{recipe.title}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="sideDishCategory">
                <h1>Side Dishes</h1>
                <div class="search-content">
                    <div class="suggestions-wrapper" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between end">
                        <div class="card" *ngFor=" let recipe of sideDishCategory" (click)="navToRecipeIntructions(recipe.id)">
                            <img src="{{recipe.image}}" />
                            <div class="title" fxLayout="wrap">
                                {{recipe.title}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="saladCategory">
                <h1>Salads</h1>
                <div class="search-content">
                    <div class="suggestions-wrapper" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between end">
                        <div class="card" *ngFor=" let recipe of saladCategory" (click)="navToRecipeIntructions(recipe.id)">
                            <img src="{{recipe.image}}" />
                            <div class="title" fxLayout="wrap">
                                {{recipe.title}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="soupCategory">
                <h1>Soups</h1>
                <div class="search-content">
                    <div class="suggestions-wrapper" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between end">
                        <div class="card" *ngFor=" let recipe of soupCategory" (click)="navToRecipeIntructions(recipe.id)">
                            <img src="{{recipe.image}}" />
                            <div class="title" fxLayout="wrap">
                                {{recipe.title}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="snackCategory">
                <h1>Snacks</h1>
                <div class="search-content">
                    <div class="suggestions-wrapper" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between end">
                        <div class="card" *ngFor=" let recipe of snackCategory" (click)="navToRecipeIntructions(recipe.id)">
                            <img src="{{recipe.image}}" />
                            <div class="title" fxLayout="wrap">
                                {{recipe.title}}
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->


        </div>

        <hr>

        <div class="tip" fxLayout="column" fxLayoutAlign="center center">
            <h2>Don't like these results?</h2>
            <p>click here to add more ingredients to your pantry</p>
            <button mat-flat-button color="warn" [routerLink]="['/my-pantry']">Edit Pantry</button>
        </div>

        <hr>
    </div>

</div>