<app-navbar></app-navbar>
<div class="main-container">
    <div class="page-title">
        <h1>Start Cooking</h1>

        <hr>

        <div fxHide.lt-md class="filters">
            <mat-chip-list id="#chipList">
                <mat-chip *ngFor="let item of filters; let i = index">
                    {{filters[i]}}
                    <button matChipRemove (click)="removeFilter(i)">
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip>

                <mat-chip class="clear-all-chips" *ngIf="filters.length >= 2">
                    Clear All
                    <button matChipRemove (click)="removeAllChips()">
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip>

            </mat-chip-list>
        </div>

        <div fxHide.lt-md class="search-bar" fxLayout="row" fxLayoutAlign="space-between center">
            <form class="ingredient-search" [formGroup]="ingredientSearchForm" fxFlex="75">

                <mat-form-field class="inputBox" appearance="outline">
                    <mat-label> Filter by ingredient. . .</mat-label>
                    <input matInput placeholder="Search for an ingredient..." formControlName="ingredient"
                        [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">

                        <mat-option *ngFor="let option of ingredients" (click)="addfilter(option.name)">
                            {{capitalizeFirstLetter(option.name)}}
                        </mat-option>

                        <mat-option *ngIf="hasRanSearch && ingredients.length <= 0">
                            No Results
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </form>

            <div fxHide.lt-md class="filter-button" fxFlex="10">
                <button mat-stroked-button [matMenuTriggerFor]="belowMenu">Sort</button>
                <mat-menu #belowMenu="matMenu" yPosition="below">
                    <button mat-menu-item (click)="sortAlphabetically()">A-Z</button>
                    <button mat-menu-item (click)="changeSortingType()">Recipe Type</button>
                </mat-menu>
            </div>

            <div class="filter-button" fxFlex="10">
                <button mat-stroked-button (click)="openDialog()">Filters</button>
            </div>
        </div>

        <h2 fxHide.lt-md>Recipes With My Pantry</h2>
        <hr fxHide.lt-md>


        <div *ngIf="isLoading" class="skeleton-loader-wrapper">
            <div fxLayout="row" fxLayoutGap="16px" fxFlexFill>
                <div fxFlex="25">
                    <ngx-skeleton-loader [theme]="{ height: '150px', borderRadius: '10px' }"></ngx-skeleton-loader>
                    <ngx-skeleton-loader [theme]="{ height: '30px', borderRadius: '10px' }"></ngx-skeleton-loader>
                </div>
                <div fxFlex="25">
                    <ngx-skeleton-loader [theme]="{ height: '150px', borderRadius: '10px' }"></ngx-skeleton-loader>
                    <ngx-skeleton-loader [theme]="{ height: '30px', borderRadius: '10px' }"></ngx-skeleton-loader>
                </div>
                <div fxFlex="25">
                    <ngx-skeleton-loader [theme]="{ height: '150px', borderRadius: '10px' }"></ngx-skeleton-loader>
                    <ngx-skeleton-loader [theme]="{ height: '30px', borderRadius: '10px' }"></ngx-skeleton-loader>
                </div>
                <div fxFlex="25">
                    <ngx-skeleton-loader [theme]="{ height: '150px', borderRadius: '10px' }"></ngx-skeleton-loader>
                    <ngx-skeleton-loader [theme]="{ height: '30px', borderRadius: '10px' }"></ngx-skeleton-loader>
                </div>
            </div>
            <div fxLayout="row" fxLayoutGap="16px" fxFlexFill>
                <div fxFlex="25">
                    <ngx-skeleton-loader [theme]="{ height: '150px', borderRadius: '10px' }"></ngx-skeleton-loader>
                    <ngx-skeleton-loader [theme]="{ height: '30px', borderRadius: '10px' }"></ngx-skeleton-loader>
                </div>
                <div fxFlex="25">
                    <ngx-skeleton-loader [theme]="{ height: '150px', borderRadius: '10px' }"></ngx-skeleton-loader>
                    <ngx-skeleton-loader [theme]="{ height: '30px', borderRadius: '10px' }"></ngx-skeleton-loader>
                </div>
                <div fxFlex="25">
                    <ngx-skeleton-loader [theme]="{ height: '150px', borderRadius: '10px' }"></ngx-skeleton-loader>
                    <ngx-skeleton-loader [theme]="{ height: '30px', borderRadius: '10px' }"></ngx-skeleton-loader>
                </div>
                <div fxFlex="25">
                    <ngx-skeleton-loader [theme]="{ height: '150px', borderRadius: '10px' }"></ngx-skeleton-loader>
                    <ngx-skeleton-loader [theme]="{ height: '30px', borderRadius: '10px' }"></ngx-skeleton-loader>
                </div>
            </div>
            <div fxLayout="row" fxLayoutGap="16px" fxFlexFill>
                <div fxFlex="25">
                    <ngx-skeleton-loader [theme]="{ height: '150px', borderRadius: '10px' }"></ngx-skeleton-loader>
                    <ngx-skeleton-loader [theme]="{ height: '30px', borderRadius: '10px' }"></ngx-skeleton-loader>
                </div>
                <div fxFlex="25">
                    <ngx-skeleton-loader [theme]="{ height: '150px', borderRadius: '10px' }"></ngx-skeleton-loader>
                    <ngx-skeleton-loader [theme]="{ height: '30px', borderRadius: '10px' }"></ngx-skeleton-loader>
                </div>
                <div fxFlex="25">
                    <ngx-skeleton-loader [theme]="{ height: '150px', borderRadius: '10px' }"></ngx-skeleton-loader>
                    <ngx-skeleton-loader [theme]="{ height: '30px', borderRadius: '10px' }"></ngx-skeleton-loader>
                </div>
                <div fxFlex="25">
                    <ngx-skeleton-loader [theme]="{ height: '150px', borderRadius: '10px' }"></ngx-skeleton-loader>
                    <ngx-skeleton-loader [theme]="{ height: '30px', borderRadius: '10px' }"></ngx-skeleton-loader>
                </div>
            </div>
            <div fxLayout="row" fxLayoutGap="16px" fxFlexFill>
                <div fxFlex="25">
                    <ngx-skeleton-loader [theme]="{ height: '150px', borderRadius: '10px' }"></ngx-skeleton-loader>
                    <ngx-skeleton-loader [theme]="{ height: '30px', borderRadius: '10px' }"></ngx-skeleton-loader>
                </div>
                <div fxFlex="25">
                    <ngx-skeleton-loader [theme]="{ height: '150px', borderRadius: '10px' }"></ngx-skeleton-loader>
                    <ngx-skeleton-loader [theme]="{ height: '30px', borderRadius: '10px' }"></ngx-skeleton-loader>
                </div>
                <div fxFlex="25">
                    <ngx-skeleton-loader [theme]="{ height: '150px', borderRadius: '10px' }"></ngx-skeleton-loader>
                    <ngx-skeleton-loader [theme]="{ height: '30px', borderRadius: '10px' }"></ngx-skeleton-loader>
                </div>
                <div fxFlex="25">
                    <ngx-skeleton-loader [theme]="{ height: '150px', borderRadius: '4px' }"></ngx-skeleton-loader>
                    <ngx-skeleton-loader [theme]="{ height: '30px', borderRadius: '10px' }"></ngx-skeleton-loader>
                </div>
            </div>
        </div>

        <!-- recipes from pantry not sorted -->
        <div *ngIf="sortByType == 'AZ' && !isLoading">

            <div class="no-results" *ngIf="filteredRecipes.length <= 0" fxLayout="column"
                fxLayoutAlign="space-around center">
                <p>Oops! </p>
                <p>There are no recipes that match any of the selected filters</p>
                <button class="no-results-button" mat-flat-button color="warn" (click)="removeAllChips()">Remove All
                    Filters</button>
            </div>

            <div class="search-content">
                <div class="suggestions-wrapper" fxLayoutGap="25" fxLayout="row wrap" fxLayoutAlign="center center">
                    <div class="card" *ngFor=" let recipe of filteredRecipes"
                        (click)="navToRecipeIntructions(recipe.id)">
                        <img src="{{recipe.image}}" alt="Not Found"/>
                        <div class="title" fxLayout="wrap">
                            {{recipe.title}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- recipes from pantry sorted by category -->
        <div class="sorted-by-type" *ngIf="sortByType == 'type'" fxLayout="column" fxLayoutAlign="space-between start">

            <h2 *ngIf="breakfastCategory.length > 0">Breakfast</h2>
            <div *ngIf="breakfastCategory.length > 0" fxFlex="100" fxLayout="row wrap"
                fxLayoutAlign="space-between end">
                <div class="search-content">
                    <div class="suggestions-wrapper" fxLayoutGap="25" fxLayout="row wrap" fxLayoutAlign="start center">
                        <div class="card" *ngFor=" let recipe of breakfastCategory"
                            (click)="navToRecipeIntructions(recipe.id)">
                            <img src="{{recipe.image}}" />
                            <div class="title" fxLayout="wrap">
                                {{recipe.title}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h2 *ngIf="lunchCategory.length > 0">Lunch</h2>
            <div *ngIf="lunchCategory.length > 0" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between end">
                <div class="search-content">
                    <div class="suggestions-wrapper" fxLayoutGap="25" fxLayout="row wrap" fxLayoutAlign="start center">
                        <div class="card" *ngFor=" let recipe of lunchCategory"
                            (click)="navToRecipeIntructions(recipe.id)">
                            <img src="{{recipe.image}}" />
                            <div class="title" fxLayout="wrap">
                                {{recipe.title}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h2 *ngIf="dinnerCategory.length > 0">Dinner</h2>
            <div *ngIf="dinnerCategory.length > 0" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between end">
                <div class="search-content">
                    <div class="suggestions-wrapper" fxLayoutGap="25" fxLayout="row wrap" fxLayoutAlign="start center">
                        <div class="card" *ngFor=" let recipe of dinnerCategory"
                            (click)="navToRecipeIntructions(recipe.id)">
                            <img src="{{recipe.image}}" />
                            <div class="title" fxLayout="wrap">
                                {{recipe.title}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h2 *ngIf="appetizerCategory.length > 0">Appetizers</h2>
            <div *ngIf="appetizerCategory.length > 0" fxFlex="100" fxLayout="row wrap"
                fxLayoutAlign="space-between end">
                <div class="search-content">
                    <div class="suggestions-wrapper" fxLayoutGap="25" fxLayout="row wrap" fxLayoutAlign="start center">
                        <div class="card" *ngFor=" let recipe of appetizerCategory"
                            (click)="navToRecipeIntructions(recipe.id)">
                            <img src="{{recipe.image}}" />
                            <div class="title" fxLayout="wrap">
                                {{recipe.title}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h2 *ngIf="mainCourseCategory.length > 0">Main Courses</h2>
            <div *ngIf="mainCourseCategory.length > 0" fxFlex="100" fxLayout="row wrap"
                fxLayoutAlign="space-between end">
                <div class="search-content">
                    <div class="suggestions-wrapper" fxLayoutGap="25" fxLayout="row wrap" fxLayoutAlign="start center">
                        <div class="card" *ngFor=" let recipe of mainCourseCategory"
                            (click)="navToRecipeIntructions(recipe.id)">
                            <img src="{{recipe.image}}" />
                            <div class="title" fxLayout="wrap">
                                {{recipe.title}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h2 *ngIf="dessertCategory.length > 0">Dessert</h2>
            <div *ngIf="dessertCategory.length > 0" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between end">
                <div class="search-content">
                    <div class="suggestions-wrapper" fxLayoutGap="25" fxLayout="row wrap" fxLayoutAlign="start center">
                        <div class="card" *ngFor=" let recipe of dessertCategory"
                            (click)="navToRecipeIntructions(recipe.id)">
                            <img src="{{recipe.image}}" />
                            <div class="title" fxLayout="wrap">
                                {{recipe.title}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h2 *ngIf="sauceCategory.length > 0">Sauces & Marinades</h2>
            <div *ngIf="sauceCategory.length > 0" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between end">
                <div class="search-content">
                    <div class="suggestions-wrapper" fxLayoutGap="25" fxLayout="row wrap" fxLayoutAlign="start center">
                        <div class="card" *ngFor=" let recipe of sauceCategory"
                            (click)="navToRecipeIntructions(recipe.id)">
                            <img src="{{recipe.image}}" />
                            <div class="title" fxLayout="wrap">
                                {{recipe.title}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h2 *ngIf="sideDishCategory.length > 0">Side Dishes</h2>
            <div *ngIf="sideDishCategory.length > 0" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between end">
                <div class="search-content">
                    <div class="suggestions-wrapper" fxLayoutGap="25" fxLayout="row wrap" fxLayoutAlign="start center">
                        <div class="card" *ngFor=" let recipe of sideDishCategory"
                            (click)="navToRecipeIntructions(recipe.id)">
                            <img src="{{recipe.image}}" />
                            <div class="title" fxLayout="wrap">
                                {{recipe.title}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h2 *ngIf="saladCategory.length > 0">Salads</h2>
            <div *ngIf="saladCategory.length > 0" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between end">
                <div class="search-content">
                    <div class="suggestions-wrapper" fxLayoutGap="25" fxLayout="row wrap" fxLayoutAlign="start center">
                        <div class="card" *ngFor=" let recipe of saladCategory"
                            (click)="navToRecipeIntructions(recipe.id)">
                            <img src="{{recipe.image}}" />
                            <div class="title" fxLayout="wrap">
                                {{recipe.title}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h2 *ngIf="soupCategory.length > 0">Soups</h2>
            <div *ngIf="soupCategory.length > 0" fxLayout="column" fxLayoutAlign="space-between start">
                <div class="search-content">
                    <div class="suggestions-wrapper" fxLayoutGap="25" fxLayout="row wrap" fxLayoutAlign="start center">
                        <div class="card" *ngFor=" let recipe of soupCategory"
                            (click)="navToRecipeIntructions(recipe.id)">
                            <img src="{{recipe.image}}" />
                            <div class="title" fxLayout="wrap">
                                {{recipe.title}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h2 *ngIf="snackCategory.length > 0">Snacks</h2>
            <div *ngIf="snackCategory.length > 0" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between end">
                <div class="search-content">
                    <div class="suggestions-wrapper" fxLayoutGap="25" fxLayout="row wrap" fxLayoutAlign="start center">
                        <div class="card" *ngFor=" let recipe of snackCategory"
                            (click)="navToRecipeIntructions(recipe.id)">
                            <img src="{{recipe.image}}" />
                            <div class="title" fxLayout="wrap">
                                {{recipe.title}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h2 *ngIf="beverageCategory.length > 0">Beverages</h2>
            <div *ngIf="beverageCategory.length > 0" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between end">
                <div class="search-content">
                    <div class="suggestions-wrapper" fxLayoutGap="25" fxLayout="column"
                        fxLayoutAlign="space-between start">
                        <div class="card" *ngFor=" let recipe of beverageCategory"
                            (click)="navToRecipeIntructions(recipe.id)">
                            <img src="{{recipe.image}}" />
                            <div class="title" fxLayout="wrap">
                                {{recipe.title}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <h2 *ngIf="miscCategory.length > 0">Miscellaneous</h2>
            <div *ngIf="miscCategory.length > 0" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between end">
                <div class="search-content">
                    <div class="suggestions-wrapper" fxLayoutGap="25" fxLayout="row wrap" fxLayoutAlign="start center">
                        <div class="card" *ngFor=" let recipe of miscCategory"
                            (click)="navToRecipeIntructions(recipe.id)">
                            <img src="{{recipe.image}}" />
                            <div class="title" fxLayout="wrap">
                                {{recipe.title}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- users saved recipes -->
        <div *ngIf="cookingData && (this.cookingData.saved_recipes.length > 0)">
            <div *ngIf="cookingData && (this.cookingData.saved_recipes.length > 0) && !isLoading">
                <h2>Saved Recipes</h2>
                <hr>
                <div *ngIf="!savedIsLoading" class="search-content">
                    <div class="suggestions-wrapper" fxLayoutGap="25" fxLayout="row wrap" fxLayoutAlign="start center">
                        <div class="card" *ngFor=" let recipe of savedRecipes" (click)="navToRecipeIntructions(recipe.id)">
                            <img src="{{recipe.image}}" />
                            <div class="title" fxLayout="wrap">
                                {{recipe.title}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div *ngIf="isLoading || savedIsLoading" class="skeleton-loader-wrapper">
                <div fxLayout="row" fxLayoutGap="16px" fxFlexFill>
                    <div fxFlex="25">
                        <ngx-skeleton-loader [theme]="{ height: '150px', borderRadius: '10px' }"></ngx-skeleton-loader>
                        <ngx-skeleton-loader [theme]="{ height: '30px', borderRadius: '10px' }"></ngx-skeleton-loader>
                    </div>
                    <div fxFlex="25">
                        <ngx-skeleton-loader [theme]="{ height: '150px', borderRadius: '10px' }"></ngx-skeleton-loader>
                        <ngx-skeleton-loader [theme]="{ height: '30px', borderRadius: '10px' }"></ngx-skeleton-loader>
                    </div>
                    <div fxFlex="25">
                        <ngx-skeleton-loader [theme]="{ height: '150px', borderRadius: '10px' }"></ngx-skeleton-loader>
                        <ngx-skeleton-loader [theme]="{ height: '30px', borderRadius: '10px' }"></ngx-skeleton-loader>
                    </div>
                    <div fxFlex="25">
                        <ngx-skeleton-loader [theme]="{ height: '150px', borderRadius: '10px' }"></ngx-skeleton-loader>
                        <ngx-skeleton-loader [theme]="{ height: '30px', borderRadius: '10px' }"></ngx-skeleton-loader>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutGap="16px" fxFlexFill>
                    <div fxFlex="25">
                        <ngx-skeleton-loader [theme]="{ height: '150px', borderRadius: '10px' }"></ngx-skeleton-loader>
                        <ngx-skeleton-loader [theme]="{ height: '30px', borderRadius: '10px' }"></ngx-skeleton-loader>
                    </div>
                    <div fxFlex="25">
                        <ngx-skeleton-loader [theme]="{ height: '150px', borderRadius: '10px' }"></ngx-skeleton-loader>
                        <ngx-skeleton-loader [theme]="{ height: '30px', borderRadius: '10px' }"></ngx-skeleton-loader>
                    </div>
                    <div fxFlex="25">
                        <ngx-skeleton-loader [theme]="{ height: '150px', borderRadius: '10px' }"></ngx-skeleton-loader>
                        <ngx-skeleton-loader [theme]="{ height: '30px', borderRadius: '10px' }"></ngx-skeleton-loader>
                    </div>
                    <div fxFlex="25">
                        <ngx-skeleton-loader [theme]="{ height: '150px', borderRadius: '10px' }"></ngx-skeleton-loader>
                        <ngx-skeleton-loader [theme]="{ height: '30px', borderRadius: '10px' }"></ngx-skeleton-loader>
                    </div>
                </div>
            </div>
        </div>

        <hr>
        <div class="tip" fxLayout="column" fxLayoutAlign="center center">
            <h2>Don't like these results?</h2>
            <p>click here to add more ingredients to your pantry</p>
            <button class="tip-button" mat-flat-button color="warn" [routerLink]="['/my-pantry']">Edit Pantry</button>
        </div>
        <hr>

    </div>

</div>
<app-footer></app-footer>