/* heading */
.page-title h1 {
    font-family: "Playfair", serif;
    font-size: 40px;
    width: 100%;
    float: left;
    margin-top: 40px;
}

hr {
    border: 0;
    clear: both;
    display: block;
    width: 100%;
    background-color: #000000;
    height: 1px;
}

.pantry-content {
    padding-top: 50px;
}

/* suggestions in content */

/* card */
img {
    width: 250px;
    border-radius: 10px;
    transition: 0.3s;
    margin-top: 10px;
    margin-bottom: 10px;
}

img:hover {
    transform: scale(1.07);
    transition: 0.3s;
    cursor: pointer;
}

.title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
    font-family: "Inter", sans-serif;
    transition: 0.2s;
}

.card {
    width: 250px;
    margin-bottom: auto;
}

.card:hover .title {
    color: coral;
    transition: 0.3s;
    cursor: pointer;
}