<app-navbar></app-navbar>
<div class="main-container">
    <div class="page-title">
        <h1>Start Cooking</h1>

        <hr>

        <div class="filters">
            <mat-chip-list #chipList>
                <mat-chip *ngFor="let item of filters; let i = index">
                    {{filters[i]}}
                    <button matChipRemove (click)="removeFilter(i)">
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip>

                <mat-chip class="clear-all-chips" *ngIf="filters.length >= 2">
                    Clear All
                    <button matChipRemove (click)="removeAllChips()">
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip>

            </mat-chip-list>
        </div>

        <div class="search-bar" fxLayout="row" fxLayoutAlign="space-between center">
            <form class="ingredient-search" [formGroup]="ingredientSearchForm" fxFlex="75">

                <mat-form-field class="inputBox" appearance="outline">
                    <mat-label> Filter by ingredient. . .</mat-label>
                    <input matInput placeholder="Search for an ingredient..." formControlName="ingredient"
                        [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                        <!-- <mat-spinner></mat-spinner> -->
                        <mat-option *ngFor="let option of ingredients" (click)="addfilter(option.name)">
                            {{capitalizeFirstLetter(option.name)}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </form>

            <div class="filter-button" fxFlex="10">
                <button mat-stroked-button [matMenuTriggerFor]="belowMenu">Sort</button>
                <mat-menu #belowMenu="matMenu" yPosition="below">
                    <button mat-menu-item>A-Z</button> <!-- (click)="sortAlphabetically()" -->
                    <!-- <button mat-menu-item (click)="maximizeMissing()">Maximize Used Ingredients</button>
                    <button mat-menu-item (click)="minimizeMissing()">Minimize Missing Ingredients</button> -->
                    <button mat-menu-item>Recipe Type</button> <!-- (click)="sortRecipesByType()" -->
                    <button mat-menu-item> Saved Recipes</button>
                </mat-menu>
            </div>

            <div class="filter-button" fxFlex="10">
                <button mat-stroked-button (click)="openDialog()">Filters</button>
            </div>
        </div>

        <h2>Recipes With My Pantry</h2>
        <hr>

        <div *ngIf="isLoading" class="skeleton-loader-wrapper">
            <div fxLayout="row" fxLayoutGap="16px" fxFlexFill>
                <div fxFlex="25">
                    <ngx-skeleton-loader [theme]="{ height: '150px', borderRadius: '10px' }"></ngx-skeleton-loader>
                    <ngx-skeleton-loader [theme]="{ height: '30px', borderRadius: '10px' }"></ngx-skeleton-loader>
                </div>
                <div fxFlex="25">
                    <ngx-skeleton-loader [theme]="{ height: '150px', borderRadius: '10px' }"></ngx-skeleton-loader>
                    <ngx-skeleton-loader [theme]="{ height: '30px', borderRadius: '10px' }"></ngx-skeleton-loader>
                </div>
                <div fxFlex="25">
                    <ngx-skeleton-loader [theme]="{ height: '150px', borderRadius: '10px' }"></ngx-skeleton-loader>
                    <ngx-skeleton-loader [theme]="{ height: '30px', borderRadius: '10px' }"></ngx-skeleton-loader>
                </div>
                <div fxFlex="25">
                    <ngx-skeleton-loader [theme]="{ height: '150px', borderRadius: '10px' }"></ngx-skeleton-loader>
                    <ngx-skeleton-loader [theme]="{ height: '30px', borderRadius: '10px' }"></ngx-skeleton-loader>
                </div>
            </div>
            <div fxLayout="row" fxLayoutGap="16px" fxFlexFill>
                <div fxFlex="25">
                    <ngx-skeleton-loader [theme]="{ height: '150px', borderRadius: '10px' }"></ngx-skeleton-loader>
                    <ngx-skeleton-loader [theme]="{ height: '30px', borderRadius: '10px' }"></ngx-skeleton-loader>
                </div>
                <div fxFlex="25">
                    <ngx-skeleton-loader [theme]="{ height: '150px', borderRadius: '10px' }"></ngx-skeleton-loader>
                    <ngx-skeleton-loader [theme]="{ height: '30px', borderRadius: '10px' }"></ngx-skeleton-loader>
                </div>
                <div fxFlex="25">
                    <ngx-skeleton-loader [theme]="{ height: '150px', borderRadius: '10px' }"></ngx-skeleton-loader>
                    <ngx-skeleton-loader [theme]="{ height: '30px', borderRadius: '10px' }"></ngx-skeleton-loader>
                </div>
                <div fxFlex="25">
                    <ngx-skeleton-loader [theme]="{ height: '150px', borderRadius: '10px' }"></ngx-skeleton-loader>
                    <ngx-skeleton-loader [theme]="{ height: '30px', borderRadius: '10px' }"></ngx-skeleton-loader>
                </div>
            </div>
            <div fxLayout="row" fxLayoutGap="16px" fxFlexFill>
                <div fxFlex="25">
                    <ngx-skeleton-loader [theme]="{ height: '150px', borderRadius: '10px' }"></ngx-skeleton-loader>
                    <ngx-skeleton-loader [theme]="{ height: '30px', borderRadius: '10px' }"></ngx-skeleton-loader>
                </div>
                <div fxFlex="25">
                    <ngx-skeleton-loader [theme]="{ height: '150px', borderRadius: '10px' }"></ngx-skeleton-loader>
                    <ngx-skeleton-loader [theme]="{ height: '30px', borderRadius: '10px' }"></ngx-skeleton-loader>
                </div>
                <div fxFlex="25">
                    <ngx-skeleton-loader [theme]="{ height: '150px', borderRadius: '10px' }"></ngx-skeleton-loader>
                    <ngx-skeleton-loader [theme]="{ height: '30px', borderRadius: '10px' }"></ngx-skeleton-loader>
                </div>
                <div fxFlex="25">
                    <ngx-skeleton-loader [theme]="{ height: '150px', borderRadius: '10px' }"></ngx-skeleton-loader>
                    <ngx-skeleton-loader [theme]="{ height: '30px', borderRadius: '10px' }"></ngx-skeleton-loader>
                </div>
            </div>
            <div fxLayout="row" fxLayoutGap="16px" fxFlexFill>
                <div fxFlex="25">
                    <ngx-skeleton-loader [theme]="{ height: '150px', borderRadius: '10px' }"></ngx-skeleton-loader>
                    <ngx-skeleton-loader [theme]="{ height: '30px', borderRadius: '10px' }"></ngx-skeleton-loader>
                </div>
                <div fxFlex="25">
                    <ngx-skeleton-loader [theme]="{ height: '150px', borderRadius: '10px' }"></ngx-skeleton-loader>
                    <ngx-skeleton-loader [theme]="{ height: '30px', borderRadius: '10px' }"></ngx-skeleton-loader>
                </div>
                <div fxFlex="25">
                    <ngx-skeleton-loader [theme]="{ height: '150px', borderRadius: '10px' }"></ngx-skeleton-loader>
                    <ngx-skeleton-loader [theme]="{ height: '30px', borderRadius: '10px' }"></ngx-skeleton-loader>
                </div>
                <div fxFlex="25">
                    <ngx-skeleton-loader [theme]="{ height: '150px', borderRadius: '4px' }"></ngx-skeleton-loader>
                    <ngx-skeleton-loader [theme]="{ height: '30px', borderRadius: '10px' }"></ngx-skeleton-loader>
                </div>
            </div>
        </div>
        <!-- recipes from pantry not sorted -->
        <div *ngIf="!sortByType && !isLoading">
            <div class="search-content">
                <div class="suggestions-wrapper" fxLayoutGap="25" fxLayout="row wrap" fxLayoutAlign="start center">
                    <div class="card" *ngFor=" let recipe of filteredRecipes"
                        (click)="navToRecipeIntructions(recipe.id)">
                        <img src="{{recipe.image}}" />
                        <div class="title" fxLayout="wrap">
                            {{recipe.title}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- recipes from pantry sorted by category -->
        <div class="sorted-by-type" *ngIf="sortByType" fxLayout="column" fxLayoutAlign="space-between start">
            <!-- <div *ngIf="appetizerCategory.length > 0" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between end">
                <h1>Appetizers</h1>
                <div class="search-content">
                    <div class="suggestions-wrapper" fxLayoutGap="25" fxLayout="row wrap" fxLayoutAlign="start center">
                        <div class="card" *ngFor=" let recipe of appetizerCategory" (click)="navToRecipeIntructions(recipe.id)">
                            <img src="{{recipe.image}}" />
                            <div class="title" fxLayout="wrap">
                                {{recipe.title}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="beverageCategory.length > 0" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between end">
                <h1>Beverages</h1>
                <div class="search-content">
                    <div class="suggestions-wrapper" fxLayoutGap="25" fxLayout="column" fxLayoutAlign="space-between start">
                        <div class="card" *ngFor=" let recipe of beverageCategory" (click)="navToRecipeIntructions(recipe.id)">
                            <img src="{{recipe.image}}" />
                            <div class="title" fxLayout="wrap">
                                {{recipe.title}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="breakfastCategory.length > 0" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between end">
                <h1>Breakfast</h1>
                <div class="search-content">
                    <div class="suggestions-wrapper" fxLayoutGap="25" fxLayout="row wrap" fxLayoutAlign="start center">
                        <div class="card" *ngFor=" let recipe of breakfastCategory" (click)="navToRecipeIntructions(recipe.id)">
                            <img src="{{recipe.image}}" />
                            <div class="title" fxLayout="wrap">
                                {{recipe.title}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="dessertCategory.length > 0" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between end">
                <h1>Dessert</h1>
                <div class="search-content">
                    <div class="suggestions-wrapper" fxLayoutGap="25" fxLayout="row wrap" fxLayoutAlign="start center">
                        <div class="card" *ngFor=" let recipe of dessertCategory" (click)="navToRecipeIntructions(recipe.id)">
                            <img src="{{recipe.image}}" />
                            <div class="title" fxLayout="wrap">
                                {{recipe.title}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="dinnerCategory.length > 0" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between end">
                <h1>Dinner</h1>
                <div class="search-content">
                    <div class="suggestions-wrapper" fxLayoutGap="25" fxLayout="row wrap" fxLayoutAlign="start center">
                        <div class="card" *ngFor=" let recipe of dinnerCategory" (click)="navToRecipeIntructions(recipe.id)">
                            <img src="{{recipe.image}}" />
                            <div class="title" fxLayout="wrap">
                                {{recipe.title}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="lunchCategory.length > 0" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between end">
                <h1>Lunch</h1>
                <div class="search-content">
                    <div class="suggestions-wrapper" fxLayoutGap="25" fxLayout="row wrap" fxLayoutAlign="start center">
                        <div class="card" *ngFor=" let recipe of lunchCategory" (click)="navToRecipeIntructions(recipe.id)">
                            <img src="{{recipe.image}}" />
                            <div class="title" fxLayout="wrap">
                                {{recipe.title}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="mainCourseCategory.length > 0" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between end">
                <h1>Main Courses</h1>
                <div class="search-content">
                    <div class="suggestions-wrapper" fxLayoutGap="25" fxLayout="row wrap" fxLayoutAlign="start center">
                        <div class="card" *ngFor=" let recipe of mainCourseCategory" (click)="navToRecipeIntructions(recipe.id)">
                            <img src="{{recipe.image}}" />
                            <div class="title" fxLayout="wrap">
                                {{recipe.title}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="sauceCategory.length > 0" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between end">
                <h1>Sauces & Marinades</h1>
                <div class="search-content">
                    <div class="suggestions-wrapper" fxLayoutGap="25" fxLayout="row wrap" fxLayoutAlign="start center">
                        <div class="card" *ngFor=" let recipe of sauceCategory" (click)="navToRecipeIntructions(recipe.id)">
                            <img src="{{recipe.image}}" />
                            <div class="title" fxLayout="wrap">
                                {{recipe.title}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="sideDishCategory.length > 0" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between end">
                <h1>Side Dishes</h1>
                <div class="search-content">
                    <div class="suggestions-wrapper" fxLayoutGap="25" fxLayout="row wrap" fxLayoutAlign="start center">
                        <div class="card" *ngFor=" let recipe of sideDishCategory" (click)="navToRecipeIntructions(recipe.id)">
                            <img src="{{recipe.image}}" />
                            <div class="title" fxLayout="wrap">
                                {{recipe.title}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="saladCategory.length > 0" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between end">
                <h1>Salads</h1>
                <div class="search-content">
                    <div class="suggestions-wrapper" fxLayoutGap="25" fxLayout="row wrap" fxLayoutAlign="start center">
                        <div class="card" *ngFor=" let recipe of saladCategory" (click)="navToRecipeIntructions(recipe.id)">
                            <img src="{{recipe.image}}" />
                            <div class="title" fxLayout="wrap">
                                {{recipe.title}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="soupCategory.length > 0" fxLayout="column" fxLayoutAlign="space-between start">
                <h1>Soups</h1>
                <div class="search-content">
                    <div class="suggestions-wrapper" fxLayoutGap="25" fxLayout="row wrap" fxLayoutAlign="start center">
                        <div class="card" *ngFor=" let recipe of soupCategory" (click)="navToRecipeIntructions(recipe.id)">
                            <img src="{{recipe.image}}" />
                            <div class="title" fxLayout="wrap">
                                {{recipe.title}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="snackCategory.length > 0" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between end">
                <h1>Snacks</h1>
                <div class="search-content">
                    <div class="suggestions-wrapper" fxLayoutGap="25" fxLayout="row wrap" fxLayoutAlign="start center">
                        <div class="card" *ngFor=" let recipe of snackCategory" (click)="navToRecipeIntructions(recipe.id)">
                            <img src="{{recipe.image}}" />
                            <div class="title" fxLayout="wrap">
                                {{recipe.title}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="miscCategory.length > 0" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between end">
                <h1>Miscellaneous</h1>
                <div class="search-content">
                    <div class="suggestions-wrapper" fxLayoutGap="25" fxLayout="row wrap" fxLayoutAlign="start center">
                        <div class="card" *ngFor=" let recipe of miscCategory" (click)="navToRecipeIntructions(recipe.id)">
                            <img src="{{recipe.image}}" />
                            <div class="title" fxLayout="wrap">
                                {{recipe.title}}
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->

        </div>

        <!-- users saved recipes -->
        <div *ngIf="cookingData && (this.cookingData.saved_recipes.length > 0) && !isLoading">
            <h2>Saved Recipes</h2>
            <hr>
            <div class="search-content">
                <div class="suggestions-wrapper" fxLayoutGap="25" fxLayout="row wrap" fxLayoutAlign="start center">
                    <div class="card" *ngFor=" let recipe of savedRecipes" (click)="navToRecipeIntructions(recipe.id)">
                        <img src="{{recipe.image}}" />
                        <div class="title" fxLayout="wrap">
                            {{recipe.title}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="isLoading" class="skeleton-loader-wrapper">
            <div fxLayout="row" fxLayoutGap="16px" fxFlexFill>
                <div fxFlex="25">
                    <ngx-skeleton-loader [theme]="{ height: '150px', borderRadius: '10px' }"></ngx-skeleton-loader>
                    <ngx-skeleton-loader [theme]="{ height: '30px', borderRadius: '10px' }"></ngx-skeleton-loader>
                </div>
                <div fxFlex="25">
                    <ngx-skeleton-loader [theme]="{ height: '150px', borderRadius: '10px' }"></ngx-skeleton-loader>
                    <ngx-skeleton-loader [theme]="{ height: '30px', borderRadius: '10px' }"></ngx-skeleton-loader>
                </div>
                <div fxFlex="25">
                    <ngx-skeleton-loader [theme]="{ height: '150px', borderRadius: '10px' }"></ngx-skeleton-loader>
                    <ngx-skeleton-loader [theme]="{ height: '30px', borderRadius: '10px' }"></ngx-skeleton-loader>
                </div>
                <div fxFlex="25">
                    <ngx-skeleton-loader [theme]="{ height: '150px', borderRadius: '10px' }"></ngx-skeleton-loader>
                    <ngx-skeleton-loader [theme]="{ height: '30px', borderRadius: '10px' }"></ngx-skeleton-loader>
                </div>
            </div>
            <div fxLayout="row" fxLayoutGap="16px" fxFlexFill>
                <div fxFlex="25">
                    <ngx-skeleton-loader [theme]="{ height: '150px', borderRadius: '10px' }"></ngx-skeleton-loader>
                    <ngx-skeleton-loader [theme]="{ height: '30px', borderRadius: '10px' }"></ngx-skeleton-loader>
                </div>
                <div fxFlex="25">
                    <ngx-skeleton-loader [theme]="{ height: '150px', borderRadius: '10px' }"></ngx-skeleton-loader>
                    <ngx-skeleton-loader [theme]="{ height: '30px', borderRadius: '10px' }"></ngx-skeleton-loader>
                </div>
                <div fxFlex="25">
                    <ngx-skeleton-loader [theme]="{ height: '150px', borderRadius: '10px' }"></ngx-skeleton-loader>
                    <ngx-skeleton-loader [theme]="{ height: '30px', borderRadius: '10px' }"></ngx-skeleton-loader>
                </div>
                <div fxFlex="25">
                    <ngx-skeleton-loader [theme]="{ height: '150px', borderRadius: '10px' }"></ngx-skeleton-loader>
                    <ngx-skeleton-loader [theme]="{ height: '30px', borderRadius: '10px' }"></ngx-skeleton-loader>
                </div>
            </div>
        </div>

        <hr>
        <div class="tip" fxLayout="column" fxLayoutAlign="center center">
            <h2>Don't like these results?</h2>
            <p>click here to add more ingredients to your pantry</p>
            <button mat-flat-button color="warn" [routerLink]="['/my-pantry']">Edit Pantry</button>
        </div>
        <hr>

    </div>

</div>
<app-footer></app-footer>