<app-navbar></app-navbar>
<div class="main-container">
    <div class="showcase-container">
        <div class="items" *ngFor="let recipe of recipes">
            <div class="showcase-area">
                <img fxFlex="60" src="{{recipe.image}}">
                <div class="info" fxFlex="40" fxLayout="column" fxLayoutAlign="space-between end">
                    {{recipe.title}}
                    <p> Try your hand at {{recipe.title}} a very delicious and delightfull meal.</p>
                    <button mat-icon-button class="example-icon" (click)="navToRecipeIntructions(recipe.id)">
                        <mat-icon>arrow_forward</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="card-container-title">
        <h1>Popular Categories</h1>
    </div>

    <div class="popular-categories-showcase" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="card" *ngFor="let category of categoryTitles; let i = index" fxLayout="column"
            fxLayoutAlign="center center" (click)="navToSearchPage(categoryTitlesForSearching[i])">
            <img src={{categoryImages[i]}} />
            <div class="card-body">
                <h2 class="card-title">{{categoryTitles[i]}}</h2>
            </div>
        </div>
    </div>

    <div class="card-container-title">
        <h1>Try Something New</h1>
    </div>
    <app-suggestions></app-suggestions>

    <div class="card-container-title">
        <h1>Things To Cook Right Now</h1>
    </div>
    <app-suggestions type="pantry"></app-suggestions>

    <div *ngIf=" cookingData && (cookingData.saved_recipes.length > 3)" class="card-container-title">
        <h1>My Saved Recipes</h1>
    </div>
    <app-suggestions *ngIf=" cookingData && (cookingData.saved_recipes.length > 3)" type="saved"></app-suggestions>

</div>