

@import url(https://fonts.googleapis.com/css2?family=Inter&display=swap);

@media only screen and (max-width: 600px) {
    body {
        max-width: 100%;
        background-color: lightblue;
        margin-top: 0px;
    }
}

@media only screen and (min-width: 600px) {
    body {
        max-width: 1000px;
        margin-right: auto;
        margin-left: auto;
        height: 100vh;
        margin-top: 0px;
    }
}

@font-face {
    font-family: "Playfair";
    src: local("Playfair"), url(assets/Fonts/PlayfairDisplay-Black.ttf) format("truetype");
}

h2 {
    font-weight: 200;
    font-family: "Inter", sans-serif;
}