/* heading */
.page-title h1 {
    font-family: "Playfair", serif;
    font-size: 40px;
    width: 100%;
    float: left;
    margin-top: 40px;
}

h2 {
    font-size: 30px;
    font-family: "Playfair", serif;
}

hr {
    border: 0;
    clear: both;
    display: block;
    width: 100%;
    background-color: #000000;
    height: 1px;
}

.clear-all-chips {
    background-color: rgb(233, 143, 143);
}

/* no results */
.no-results {
    padding: 10px;
}

.no-results-button {
    transition: all ease 0.2s;
}

.no-results-button:hover {
    transform: scale(1.1);
    transition: all ease 0.2s;
}

p {
    font-size: 23px;
    text-align: center;
    font-family: "Inter", sans-serif;
    color: #6b6b6b;
}

.no-results-button {
    width: 15%;
}

/* Input box */
.inputBox {
    width: 100%;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 300;
    font-family: "Inter", sans-serif;
}

.search-bar {
    padding-top: 20px;
    padding-bottom: 20px;
}

::ng-deep .mat-form-field-wrapper {
    margin: 0;
    padding: 0;
}

/* //input outline color */
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: black !important;
    /* // opacity: 1!important; */
}


/* // mat-input error carent color */
::ng-deep .mat-form-field-invalid .mat-input-element,
.mat-warn .mat-input-element {
    caret-color: red !important;
}

/* // mat-label normal state style */
::ng-deep .mat-form-field-label {
    color: rgba(0, 0, 0, .6) !important;
    /* // color: $mainColor!important; */
}


/* borders */

/* left side */
::ng-deep .mat-form-field-outline-start {
    border-radius: 10px 0 0 10px !important;
    min-width: 10px !important;
}

/*right side */
::ng-deep .mat-form-field-outline-end {
    border-radius: 0 10px 10px 0 !important;
}

::ng-deep.mat-form-field-outline-start,
::ng-deep.mat-form-field-outline-gap,
::ng-deep.mat-form-field-outline-end {
    background-color: rgb(255, 255, 255) !important;
}

.mat-option {
    font-family: "Inter", sans-serif;
}


/*  filter buttons */
.mat-stroked-button {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    font-size: 18px;
    border-style: solid;
    border-color: rgb(92, 92, 92);
    font-family: "Inter", sans-serif;
}

/* dropdown menu */
::ng-deep.mat-menu-panel {
    font-family: "Inter", sans-serif;
    margin-top: 10px;
}

::ng-deep.mat-menu-content {
    border-radius: 100px;
}

.mat-menu-item {
    font-family: "Inter", sans-serif;
    font-size: 16px;
}

.pantry-content {
    padding-top: 50px;
}

/* suggestions in content */

/* card */
img {
    width: 250px;
    border-radius: 10px;
    transition: 0.3s;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid rgb(235, 235, 235);
}

img:hover {
    transform: scale(1.07);
    transition: 0.3s;
    cursor: pointer;
}

.title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
    font-family: "Inter", sans-serif;
    transition: 0.2s;
}

.card {
    width: 250px;
    margin-bottom: auto;
}

.card:hover .title {
    color: #ef4439;
    transition: 0.3s;
    cursor: pointer;
}

.skeleton-loader-wrapper {
    display: flex;
    flex-direction: column;
    gap: 25px;
}