<app-navbar></app-navbar><!-- remove later -->
<div class="title-container">
    <div class="page-title">
        <h1>
            Profile Settings
        </h1>
        <hr>
    </div>

    <div class="content-container">
        <div class="profile-container" fxLayout="column" fxLayoutAlign="space-between start">

            <div class="names" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="60">
                <div class="profile-item" fxLayout="column" fxLayoutAlign="center start">
                    <h2>FIRST NAME</h2>
                    <h1>{{name}}</h1>
                </div>

                <div class="profile-item" fxLayout="column" fxLayoutAlign="center start">
                    <h2>LAST NAME</h2>
                    <h1>{{lastName}}</h1>
                </div>
            </div>

            <div class="profile-item" fxLayout="column" fxLayoutAlign="center start">
                <h2>EMAIL</h2>
                <h1>{{email}}</h1>
            </div>
        </div>

        <div class="intolerances-container" fxLayout="column" fxLayoutAlign="center start">
            <h2>INTOLERANCES</h2>
            <div class="intolerances-box">

            </div>
        </div>

        <button mat-flat-button color="warn" mat-flat-button (click)="logout()"> Log out </button>
    </div>
</div>