<app-navbar></app-navbar><!-- remove later -->
<div class="title-container">
    <div class="page-title">
        <h1>
            Profile Settings
        </h1>
        <hr>
    </div>

    <div class="content-container">
        <div class="profile-container" fxLayout="column" fxLayoutAlign="space-between start">

            <div class="names" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="60">
                <div class="profile-item" fxLayout="column" fxLayoutAlign="center start">
                    <h2>FIRST NAME</h2>
                    <h1>{{name}}</h1>
                </div>

                <div class="profile-item" fxLayout="column" fxLayoutAlign="center start">
                    <h2>LAST NAME</h2>
                    <h1>{{lastName}}</h1>
                </div>
            </div>

            <div class="profile-item" fxLayout="column" fxLayoutAlign="center start">
                <h2>EMAIL</h2>
                <h1>{{email}}</h1>
            </div>
        </div>

        <div class="intolerances-section" fxLayout="column" fxLayoutAlign="center start">
            <div class="title" fxLayout="row" fxLayoutAlign="start center">
                <h1>Intolerances</h1>
                <button mat-icon-button (click)="openDialog()">
                    <mat-icon>edit</mat-icon>
                </button>
            </div>

            <hr>

            <form class="intolerances">

                <h2>DIETS</h2>
                <div class="diets-container" fxLayout="row wrap" fxLayoutAlign="center center">
                    <mat-checkbox mat-flat-mat-checkbox *ngFor="let diet of diets" fxFlex="30" [disabled]="true" [checked]="checkUserData(diet)">
                        {{diet}}
                    </mat-checkbox>
                </div>

                <hr>

                <h2>ALLERGIES</h2>
                <div class="intolerances-container" fxLayout="row wrap" fxLayoutAlign="center center">
                    <mat-checkbox mat-flat-mat-checkbox *ngFor="let intolerance of intolerances" fxFlex="30" [disabled]="true" [checked]="checkUserData(intolerance)">
                        {{intolerance}}
                    </mat-checkbox>
                </div>
            </form>

            <hr>

        </div>
    </div>

    <div class="button-container" fxLayout="row" fxLayoutAlign="start center">
        <button mat-flat-button color="warn" mat-flat-button (click)="logout()"> Log out </button>
    </div>

</div>